@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
    --cactus: #7cb518;
    --main-bg: #5c8001;
    --main-color: #f2f4f3;
    --foreground: #082d0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-color);
    background-color: var(--main-bg);
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* overflow-y: hidden;*/
    animation: body-overflow 0s linear 5.2s forwards;
}

@keyframes body-overflow {
    0%   { overflow-y: hidden; }
    100% { overflow-y: auto; }
}

header {
    display: flex;
    align-items: center;
    background-color: var(--foreground);
    width: 100vw;
    height: 100vh;
    /* overflow: hidden;*/
}

#name {
    --width: 503px;
    --height: 923px;
    display: flex;
    align-items: center;
    font-size: 130px;
    text-align: center;
}

@keyframes name-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg) translateY(-220px) scale(0.8);
        left: 0;
    }
}

#letters {
    writing-mode: vertical-rl;
    padding-left: 20px;
    transform: rotate(180deg);
}

#letters span {
    display: inline-block;
    transform: translateY(100vh) rotate(360deg);
    animation: letter-fall 0.9s ease-in-out 0.1s forwards;
}

@keyframes letter-fall {
    75%  { transform: translateY(-15px) rotate(0deg); }
    92%  { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

#letters span:nth-child(1)  { animation-delay: 0.1s; }
#letters span:nth-child(2)  { animation-delay: 0.2s; }
#letters span:nth-child(3)  { animation-delay: 0.3s; }
#letters span:nth-child(4)  { animation-delay: 0.4s; }
#letters span:nth-child(5)  { animation-delay: 0.5s; }
#letters span:nth-child(6)  { animation-delay: 0.6s; }
#letters span:nth-child(7)  { animation-delay: 0.7s; }
#letters span:nth-child(8)  { animation-delay: 0.8s; }
#letters span:nth-child(9)  { animation-delay: 0.9s; }
#letters span:nth-child(10) { animation-delay: 1s;   }
#letters span:nth-child(11) { animation-delay: 1.1s; }
#letters span:nth-child(12) { animation-delay: 1.2s; }

#cactus-left, #cactus-right {
    fill: var(--cactus);
    stroke: var(--cactus);
    display: block;
}

#cactus-right {
    padding-right: 20px;
}

#cactus-left {
    padding-left: 20px;
}

#about-me {
    background-color: var(--foreground);
    color: var(--main-color);
    font-size: 32px;
    width: 50vw;
    margin: 0 auto;
}

#curve {
    width: 100vw;
    height: auto;
    fill: var(--foreground);
    -webkit-filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}

#about-me h1, #about-me p, #about-me li {
    opacity: 0;
    transform: scale(1.035);
    animation: fade-in 0.3s ease-in 0s forwards;
}

@keyframes fade-in {
    100% { opacity: 1; transform: none; }
}

#about-me .one   { animation-delay: 0.3s; }
#about-me .two   { animation-delay: 0.5s; }
#about-me .three { animation-delay: 0.7s; }
#about-me .four  { animation-delay: 0.9s; }
#about-me .five  { animation-delay: 1.1s; }
#about-me .six   { animation-delay: 1.3s; }
#about-me .seven { animation-delay: 1.5s; }
#about-me .eight { animation-delay: 1.7s; }

#about-me h1 {
    font-weight: 400;
    font-size: 128px;
    text-align: center;
    margin-bottom: 50px;
}

#about-me p {
    line-height: 42px;
    margin-bottom: 15px;
}

#about-me ul, #about-me li {
    margin-left: 1em;
    line-height: 42px;
}

#about-me a {
    color: var(--main-bg);
}

.first, .second {
    margin-right: 2px;
}

.first  { color: #EECB13; }
.second { color: #D3D3D3; }
