@media (orientation: landscape) {
    #name {
        height: 100vh !important;
        left: -15.5vh !important;
        top: 0 !important;
    }

    #name #cactus-left, #name #cactus-right path {
        opacity: 0 !important;
    }

    #name #cactus-right {
        height: 102vh !important;
    }

    #name, #name * {
        transition: 0s all !important;
    }
}

#projects > div > * {
    opacity: 1 !important;
    transition-duration: 0s !important;
}

#projects div::before, #projects div::after {
    opacity: 1 !important;
    top: 0 !important;
    height: 100% !important;
    transition-duration: 0s !important;
}

#projects > div::before { left:  0 !important; }
#projects > div::after  { right: 0 !important; }
